@font-face {
  font-family: 'Canela Web';
  src: url('../fonts/CanelaWeb-Medium.woff2') format('woff2'),
      url('../fonts/CanelaWeb-Medium.woff') format('woff'),
      url('../fonts/canelaweb-Medium.html') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* roboto-mono-regular - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-mono-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/roboto-mono-v13-latin-regulard41d.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-mono-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-mono-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-mono-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-mono-v13-latin-regular.svg#RobotoMono') format('svg'); /* Legacy iOS */
  font-display: swap;
}

/* roboto-mono-500 - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-mono-v13-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/roboto-mono-v13-latin-500d41d.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-mono-v13-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-mono-v13-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-mono-v13-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-mono-v13-latin-500.svg#RobotoMono') format('svg'); /* Legacy iOS */
  font-display: swap;
}

/* roboto-mono-700 - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-mono-v13-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/roboto-mono-v13-latin-700d41d.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-mono-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-mono-v13-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-mono-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-mono-v13-latin-700.svg#RobotoMono') format('svg'); /* Legacy iOS */
}

*, h1, h2, h3 {
    color: #f2cc8f;
}

p {
    color: white;
}

@media only screen and (min-width: 600px) {
    .intro-image {
        width: 800px;
    }
}

@media only screen and (max-width: 600px) {
    .intro-image {
        width: 300px;
    }
}